#calendar-container {
  width: 180px;
}

#calendar-container a {
  color: #44F;
  text-decoration: none;
}

#calendar-control-next {
  text-align: right;
}

#calendar-label {
  text-align: center;
}

#calendar-body {
  text-align: center;
}

#calendar-body td {
  padding: 5px;
}
